# Pokemon GO Visualizations based on London spawn data

Let's have first look at the data dump from the crawler that was populating a database. 

Generation
-----------

Using [PokéVision.com](https://pokevision.com/) I was able to query pokemon spawns by lat/long values. 
For this notebook I'm restricting the data to what I collected from London UK, sampling from a grid by a constant stride every 5 minutes.

I ignored the four most common pokemon up-front while crawling which were: 

```
16, // pidgey
19, // rattata
21, // spearow
41, // zubat
96 // drowzee
```

Format
------

The data format is really simple, the API returns a unique identifier and an expiration time, which tells when a pokemon despawns- this will act as our "key" to deduplicate and clean data first. 
The real juicy content is in the unique identifier of the pokemon ("pokemon_id") and its lat/long location value.

In [1]:
import pandas as pd
df = pd.read_csv('data/data.csv', encoding="utf-8-sig")
df.head()

        id  expiration_time  pokemon_id        lat      long
0  1437290       1469531977          86  51.585117  0.079396
1  3258228       1469531978          86  51.585117  0.079396
2  3258226       1469532675          18  51.585281  0.079672
3  2403432       1469532300           7  51.576583 -0.396503
4  2387733       1469532339          13  51.575416 -0.350026

In [2]:
original_count = df['id'].count()
print('%d rows' % original_count)

40248 rows

## Cleaning the data

First off we are going to deduplicate the data, since the crawler might return some duplicated rows on failure conditions. The ID and expiration time come in very handy here and can be used as a safe unique identifier.

Afterwards we are turning the expiration time into a python datetime and add the pokemons' real name.

In [3]:
df = df.drop_duplicates(['id', 'expiration_time'])

# let's see how much we have removed
count = df['id'].count()
print('removed %d rows' % (original_count - count))
print('remaining %d rows' % count)

from datetime import datetime as dt
df['expiration_time'] = df['expiration_time'].apply(lambda x: dt.utcfromtimestamp(x))

removed 5581 rows
remaining 34667 rows

In [4]:
# join with the list of pokemons
pkmn = pd.read_csv('data/pokemon.csv', encoding="utf-8")
df = pd.merge(df, pkmn, on='pokemon_id', how='inner')
df.head()

        id     expiration_time  pokemon_id        lat      long  Name
0  1437290 2016-07-26 11:19:37          86  51.585117  0.079396  Seel
1  3258228 2016-07-26 11:19:38          86  51.585117  0.079396  Seel
2  1666641 2016-07-26 11:21:21          86  51.562280 -0.051938  Seel
3  1572259 2016-07-26 11:21:22          86  51.562280 -0.051938  Seel
4  2957601 2016-07-26 11:20:49          86  51.536197 -0.103055  Seel

## Top 10 most common Pokemon in London

In [5]:
hist = df.groupby('Name')['id'].count().sort_values(ascending=False)
hist[0:10]

Name
Magikarp    2860
Weedle      2004
Gastly      1949
Krabby      1936
Goldeen     1857
Jynx        1607
Psyduck     1442
Poliwag     1439
Staryu      1336
Caterpie    1253
Name: id, dtype: int64

Surprising find: London has tons of water type pokemon, 6 out of the 10! 
We will later on figure out if the rumoured affinitization of water and water type pokemon holds.

## Plotting Charmander location

In [6]:
import geoplotlib as g
from geoplotlib.utils import BoundingBox, DataAccessObject

def savePlotOnLondonMap(data, fileName):
    # define london
    LDN = BoundingBox(north=51.547, west=-0.239, south=51.451011, east=0.072161)
    # massage the data into a format that geoplotlib understands
    geodf = data[['lat', 'long']].copy()
    geodf.rename(columns={'lat': 'lat', 'long': 'lon'}, inplace=True)
    
    g.tiles_provider('positron')
    g.kde(DataAccessObject.from_dataframe(geodf), bw=1)
    g.set_bbox(LDN)
    g.savefig(fileName)
    # inline unfortunately doesn't work :/
    # g.inline()

# plot everything
savePlotOnLondonMap(df, 'img/alllocations')

# give me all charmander locations
geodf = df[df['pokemon_id'] == 4] 
savePlotOnLondonMap(geodf, 'img/charmanderlocations')

('smallest non-zero count', 0.037444165055830925)
('max count:', 9.5477299269207982)
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.95525918234839013)

Let's look at the output:

![title](img/alllocations.png)

Very busy map, you find that the most pokemons are sighted where a lot of people seem to be, especially parks and touristy areas like Westminster/Greenich/Hyde Park. Keep in mind that there is a selection bias, the PokeVision API caches the results heavily and only refreshes on a user request. So parts of London where nobody is using their service, we won't have any data.

Let's look at the Charmander spawns:

![title](img/charmanderlocations.png)

There seems to be a so called "nest" in Holland Park and in the Stratford Olympic Park, where there seem to be an unusually high density of Charmanders.

## Automatically finding nests of pokemon

To find nests, we are going to use a simple density based clustering algorithm called DBSCAN for every pokemon where we have more than twenty data points available. Then we simply print out the mean of the point in one cluster and plot it on the map.

In [7]:
import numpy as np

from sklearn.cluster import DBSCAN
from sklearn import metrics

for x in df['pokemon_id'].sort_values().unique():   
    dff = df[df['pokemon_id'] == x]   
    cnt = dff['id'].count()
    if cnt > 20:
       dff = dff[['lat', 'long']].copy()
       db = DBSCAN(eps=0.001, min_samples=10, metric='haversine', algorithm='ball_tree').fit(dff.as_matrix())
       pkname = pkmn[pkmn['pokemon_id'] == x].iloc[0]['Name']
       labels = db.labels_
       core_samples_mask = np.zeros_like(labels, dtype=bool)
       core_samples_mask[db.core_sample_indices_] = True
       unique_labels = set(labels)
        
       n_clusters = len(unique_labels) - (1 if -1 in labels else 0)
       if(n_clusters > 1):
           print('found clusters for %s, number of pokemon %d' % (pkname, cnt))
           print('number of clusters: %d' % n_clusters)
           tp = pd.DataFrame(columns=['lat','long'])
           for k in unique_labels:
              # ignore class noise when printing            
              if k != -1:           
                 class_member_mask = (labels == k)
                 output = dff[class_member_mask & core_samples_mask]
                 tp = tp.append(output)
                 center = output.mean()
                 kcount = output['lat'].count()
                 print('found cluster \'%d\' at %f/%f with %d occurrences' % (k, center['lat'], center['long'], kcount))    
           # plot all the clusters in a single map
           savePlotOnLondonMap(tp, 'img/{}_nests'.format(pkname))
           print()

found clusters for Bulbasaur, number of pokemon 129
number of clusters: 4
found cluster '0' at 51.547360/-0.148792 with 13 occurrences
found cluster '1' at 51.523499/-0.019667 with 11 occurrences
found cluster '2' at 51.516118/-0.068678 with 11 occurrences
found cluster '3' at 51.500828/-0.083918 with 10 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 0.84281850053226848)

found clusters for Charmander, number of pokemon 227
number of clusters: 4
found cluster '0' at 51.502703/-0.203491 with 86 occurrences
found cluster '1' at 51.495582/-0.256246 with 14 occurrences
found cluster '2' at 51.510798/-0.212197 with 7 occurrences
found cluster '3' at 51.539692/-0.009708 with 3 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.95525918234839013)

found clusters for Squirtle, number of pokemon 701
number of clusters: 3
found cluster '0' at 51.508299/-0.125410 with 11 occurrences
found cluster '1' at 51.542857/-0.096277 with 2 occurrences
found cluster '2' at 51.593615/-0.129883 with 74 occurrences
('smallest non-zero count', 1.2537445259340348e-07)
('max count:', 1.1140912421931581)

found clusters for Caterpie, number of pokemon 1253
number of clusters: 4
found cluster '0' at 51.527294/-0.132941 with 13 occurrences
found cluster '1' at 51.580781/-0.335932 with 13 occurrences
found cluster '2' at 51.509071/-0.122792 with 2 occurrences
found cluster '3' at 51.503259/-0.142147 with 4 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.8512288306858915)

found clusters for Weedle, number of pokemon 2004
number of clusters: 29
found cluster '0' at 51.470806/-0.398156 with 11 occurrences
found cluster '1' at 51.473746/-0.324058 with 10 occurrences
found cluster '2' at 51.533939/-0.150346 with 7 occurrences
found cluster '3' at 51.538602/-0.160248 with 18 occurrences
found cluster '4' at 51.531058/-0.150510 with 13 occurrences
found cluster '5' at 51.543033/-0.006598 with 26 occurrences
found cluster '6' at 51.505781/-0.178001 with 15 occurrences
found cluster '7' at 51.502004/0.004233 with 57 occurrences
found cluster '8' at 51.449945/-0.242953 with 8 occurrences
found cluster '9' at 51.505570/-0.187147 with 10 occurrences
found cluster '10' at 51.586026/-0.275905 with 6 occurrences
found cluster '11' at 51.588369/-0.058187 with 5 occurrences
found cluster '12' at 51.523372/-0.278647 with 11 occurrences
found cluster '13' at 51.554937/-0.037962 with 10 occurrences
found cluster '14' at 51.557433/0.018872 with 11 occurrences
found cluster '15' at 51.525338/-0.279956 with 9 occurrences
found cluster '16' at 51.512308/-0.162141 with 3 occurrences
found cluster '17' at 51.532127/-0.169175 with 10 occurrences
found cluster '18' at 51.510543/-0.177521 with 13 occurrences
found cluster '19' at 51.514539/-0.398024 with 2 occurrences
found cluster '20' at 51.510220/-0.185700 with 3 occurrences
found cluster '21' at 51.564476/-0.352200 with 1 occurrences
found cluster '22' at 51.594473/-0.130156 with 18 occurrences
found cluster '23' at 51.591927/-0.127241 with 12 occurrences
found cluster '24' at 51.580983/-0.334723 with 17 occurrences
found cluster '25' at 51.532024/-0.160554 with 2 occurrences
found cluster '26' at 51.511953/-0.115180 with 2 occurrences
found cluster '27' at 51.507763/-0.181882 with 1 occurrences
found cluster '28' at 51.448341/-0.328917 with 1 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.80030827576743269)

found clusters for Pidgeotto, number of pokemon 978
number of clusters: 3
found cluster '0' at 51.460633/-0.304634 with 6 occurrences
found cluster '1' at 51.507229/-0.124675 with 10 occurrences
found cluster '2' at 51.514895/-0.141487 with 12 occurrences
('smallest non-zero count', 5.3731908254315777e-08)
('max count:', 0.85146704197080758)

found clusters for Ekans, number of pokemon 90
number of clusters: 2
found cluster '0' at 51.499687/-0.142753 with 14 occurrences
found cluster '1' at 51.483772/-0.109283 with 25 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.73315649498287372)

found clusters for Pikachu, number of pokemon 75
number of clusters: 2
found cluster '0' at 51.523768/-0.088851 with 14 occurrences
found cluster '1' at 51.515308/-0.303567 with 16 occurrences
('smallest non-zero count', 8.955318042385964e-08)
('max count:', 1.1140912421931581)

found clusters for Nidoran♀, number of pokemon 522
number of clusters: 2
found cluster '0' at 51.487431/-0.121350 with 9 occurrences
found cluster '1' at 51.580070/-0.337487 with 6 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.63664320836493804)

found clusters for Nidoran♂, number of pokemon 498
number of clusters: 3
found cluster '0' at 51.508612/-0.075811 with 13 occurrences
found cluster '1' at 51.579934/-0.337111 with 14 occurrences
found cluster '2' at 51.508375/-0.155545 with 4 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.82969060923584614)

found clusters for Vulpix, number of pokemon 73
number of clusters: 2
found cluster '0' at 51.520706/-0.099388 with 10 occurrences
found cluster '1' at 51.540135/-0.372831 with 14 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 0.64055856247328002)

found clusters for Oddish, number of pokemon 591
number of clusters: 2
found cluster '0' at 51.496999/-0.124943 with 72 occurrences
found cluster '1' at 51.561130/-0.087332 with 19 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 3.1740563486675888)

found clusters for Paras, number of pokemon 911
number of clusters: 9
found cluster '0' at 51.496248/-0.238304 with 17 occurrences
found cluster '1' at 51.505678/-0.177095 with 88 occurrences
found cluster '2' at 51.503305/-0.088755 with 19 occurrences
found cluster '3' at 51.503085/-0.185802 with 27 occurrences
found cluster '4' at 51.494419/-0.127668 with 11 occurrences
found cluster '5' at 51.509101/-0.187476 with 22 occurrences
found cluster '6' at 51.498141/-0.130292 with 10 occurrences
found cluster '7' at 51.511469/-0.174825 with 1 occurrences
found cluster '8' at 51.510808/-0.177442 with 2 occurrences
('smallest non-zero count', 5.3731908254315777e-08)
('max count:', 1.1140912421931581)

found clusters for Psyduck, number of pokemon 1442
number of clusters: 29
found cluster '0' at 51.491795/-0.138241 with 11 occurrences
found cluster '1' at 51.477725/-0.162124 with 5 occurrences
found cluster '2' at 51.533286/-0.103629 with 33 occurrences
found cluster '3' at 51.524488/-0.037646 with 1 occurrences
found cluster '4' at 51.505728/-0.083572 with 31 occurrences
found cluster '5' at 51.476639/-0.157480 with 4 occurrences
found cluster '6' at 51.526292/-0.114883 with 16 occurrences
found cluster '7' at 51.505031/-0.068208 with 11 occurrences
found cluster '8' at 51.506681/-0.071179 with 16 occurrences
found cluster '9' at 51.502751/-0.018772 with 53 occurrences
found cluster '10' at 51.516905/-0.150727 with 14 occurrences
found cluster '11' at 51.509927/-0.094089 with 10 occurrences
found cluster '12' at 51.481245/-0.161256 with 3 occurrences
found cluster '13' at 51.477674/-0.151013 with 3 occurrences
found cluster '14' at 51.501503/-0.071299 with 3 occurrences
found cluster '15' at 51.504946/-0.015404 with 8 occurrences
found cluster '16' at 51.498776/-0.120322 with 5 occurrences
found cluster '17' at 51.488695/-0.133819 with 10 occurrences
found cluster '18' at 51.534312/-0.055008 with 3 occurrences
found cluster '19' at 51.521125/-0.183100 with 7 occurrences
found cluster '20' at 51.480853/-0.155603 with 10 occurrences
found cluster '21' at 51.478406/-0.155769 with 4 occurrences
found cluster '22' at 51.540627/-0.147214 with 4 occurrences
found cluster '23' at 51.518312/-0.175558 with 6 occurrences
found cluster '24' at 51.496345/-0.120832 with 11 occurrences
found cluster '25' at 51.503558/-0.073092 with 11 occurrences
found cluster '26' at 51.483974/-0.006689 with 7 occurrences
found cluster '27' at 51.538589/-0.133865 with 4 occurrences
found cluster '28' at 51.535075/-0.061620 with 1 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 1.1398556400552287)

found clusters for Poliwag, number of pokemon 1439
number of clusters: 26
found cluster '0' at 51.533381/-0.104364 with 31 occurrences
found cluster '1' at 51.535230/-0.062220 with 17 occurrences
found cluster '2' at 51.515977/-0.022992 with 9 occurrences
found cluster '3' at 51.499858/-0.119904 with 13 occurrences
found cluster '4' at 51.507403/-0.115666 with 10 occurrences
found cluster '5' at 51.494084/-0.274529 with 13 occurrences
found cluster '6' at 51.497303/-0.120652 with 15 occurrences
found cluster '7' at 51.486570/-0.077649 with 4 occurrences
found cluster '8' at 51.505225/-0.081665 with 15 occurrences
found cluster '9' at 51.516763/-0.150602 with 22 occurrences
found cluster '10' at 51.503761/-0.073914 with 13 occurrences
found cluster '11' at 51.503364/-0.020849 with 35 occurrences
found cluster '12' at 51.505593/-0.017808 with 36 occurrences
found cluster '13' at 51.489269/-0.134547 with 2 occurrences
found cluster '14' at 51.534912/-0.115275 with 2 occurrences
found cluster '15' at 51.537378/-0.085177 with 5 occurrences
found cluster '16' at 51.500847/-0.015052 with 11 occurrences
found cluster '17' at 51.506889/-0.070680 with 21 occurrences
found cluster '18' at 51.475088/-0.180567 with 2 occurrences
found cluster '19' at 51.520926/-0.181851 with 11 occurrences
found cluster '20' at 51.518777/-0.176204 with 4 occurrences
found cluster '21' at 51.512396/-0.145502 with 5 occurrences
found cluster '22' at 51.485905/-0.125195 with 10 occurrences
found cluster '23' at 51.541007/-0.138844 with 1 occurrences
found cluster '24' at 51.496998/-0.124391 with 10 occurrences
found cluster '25' at 51.523470/-0.111586 with 11 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 1.5915589174187976)

found clusters for Abra, number of pokemon 148
number of clusters: 2
found cluster '0' at 51.539064/-0.074947 with 14 occurrences
found cluster '1' at 51.491976/-0.264940 with 6 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.76737050685656394)

found clusters for Tentacool, number of pokemon 307
number of clusters: 2
found cluster '0' at 51.479309/-0.002770 with 34 occurrences
found cluster '1' at 51.476985/-0.000948 with 14 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.98486421870178475)

found clusters for Geodude, number of pokemon 215
number of clusters: 3
found cluster '0' at 51.508075/-0.260625 with 18 occurrences
found cluster '1' at 51.482671/-0.121274 with 11 occurrences
found cluster '2' at 51.460327/-0.025272 with 8 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 0.80160954238971627)

found clusters for Slowpoke, number of pokemon 902
number of clusters: 10
found cluster '0' at 51.532743/-0.099755 with 13 occurrences
found cluster '1' at 51.506855/-0.071018 with 8 occurrences
found cluster '2' at 51.502176/-0.136221 with 116 occurrences
found cluster '3' at 51.504160/-0.130547 with 49 occurrences
found cluster '4' at 51.490793/-0.137300 with 10 occurrences
found cluster '5' at 51.523694/-0.111903 with 21 occurrences
found cluster '6' at 51.505424/-0.015572 with 11 occurrences
found cluster '7' at 51.486274/-0.125821 with 10 occurrences
found cluster '8' at 51.506259/-0.022862 with 1 occurrences
found cluster '9' at 51.557632/0.020211 with 3 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 2.1024985691554012)

found clusters for Magnemite, number of pokemon 314
number of clusters: 3
found cluster '0' at 51.503725/-0.118031 with 19 occurrences
found cluster '1' at 51.511467/-0.108473 with 1 occurrences
found cluster '2' at 51.496175/0.079006 with 2 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 0.70760988331084407)

found clusters for Doduo, number of pokemon 67
number of clusters: 3
found cluster '0' at 51.511317/-0.151180 with 12 occurrences
found cluster '1' at 51.523616/-0.146457 with 12 occurrences
found cluster '2' at 51.551582/-0.099296 with 10 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.73315649498287372)

found clusters for Shellder, number of pokemon 1070
number of clusters: 6
found cluster '0' at 51.497786/-0.126397 with 21 occurrences
found cluster '1' at 51.509533/-0.149531 with 2 occurrences
found cluster '2' at 51.509235/-0.122609 with 3 occurrences
found cluster '3' at 51.503275/-0.136488 with 10 occurrences
found cluster '4' at 51.495732/-0.109018 with 10 occurrences
found cluster '5' at 51.516797/-0.116854 with 3 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 1.1140912421931581)

found clusters for Gastly, number of pokemon 1949
number of clusters: 14
found cluster '0' at 51.515069/-0.302831 with 12 occurrences
found cluster '1' at 51.506957/-0.171456 with 6 occurrences
found cluster '2' at 51.498055/-0.130278 with 38 occurrences
found cluster '3' at 51.515709/-0.136053 with 2 occurrences
found cluster '4' at 51.507508/-0.125219 with 10 occurrences
found cluster '5' at 51.515869/-0.118417 with 18 occurrences
found cluster '6' at 51.503730/-0.146179 with 14 occurrences
found cluster '7' at 51.476109/-0.194014 with 10 occurrences
found cluster '8' at 51.522394/-0.163637 with 11 occurrences
found cluster '9' at 51.508012/-0.161319 with 6 occurrences
found cluster '10' at 51.501333/-0.139887 with 4 occurrences
found cluster '11' at 51.508568/-0.132159 with 1 occurrences
found cluster '12' at 51.505188/-0.156456 with 5 occurrences
found cluster '13' at 51.517273/-0.132844 with 2 occurrences
('smallest non-zero count', 5.3731908254315777e-08)
('max count:', 1.1140912421931581)

found clusters for Onix, number of pokemon 66
number of clusters: 2
found cluster '0' at 51.473699/-0.244942 with 10 occurrences
found cluster '1' at 51.453126/-0.300791 with 10 occurrences
no data in current view

found clusters for Krabby, number of pokemon 1936
number of clusters: 17
found cluster '0' at 51.506080/-0.142648 with 14 occurrences
found cluster '1' at 51.508425/-0.122146 with 8 occurrences
found cluster '2' at 51.503614/-0.154425 with 5 occurrences
found cluster '3' at 51.516898/-0.114732 with 10 occurrences
found cluster '4' at 51.503273/-0.117542 with 9 occurrences
found cluster '5' at 51.503207/-0.135533 with 17 occurrences
found cluster '6' at 51.495789/-0.144080 with 11 occurrences
found cluster '7' at 51.514977/-0.302254 with 7 occurrences
found cluster '8' at 51.499953/-0.118244 with 11 occurrences
found cluster '9' at 51.496198/-0.172707 with 1 occurrences
found cluster '10' at 51.518367/-0.107398 with 4 occurrences
found cluster '11' at 51.495657/-0.110706 with 4 occurrences
found cluster '12' at 51.502164/-0.159613 with 7 occurrences
found cluster '13' at 51.511684/-0.136493 with 2 occurrences
found cluster '14' at 51.503706/-0.146238 with 4 occurrences
found cluster '15' at 51.526805/-0.129856 with 2 occurrences
found cluster '16' at 51.520033/-0.078017 with 2 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 1.0072573614491711)

found clusters for Voltorb, number of pokemon 177
number of clusters: 2
found cluster '0' at 51.538033/0.006328 with 10 occurrences
found cluster '1' at 51.519082/0.007675 with 17 occurrences
('smallest non-zero count', 5.3731908254315777e-08)
('max count:', 0.63662356696751898)

found clusters for Cubone, number of pokemon 84
number of clusters: 2
found cluster '0' at 51.554385/-0.061938 with 4 occurrences
found cluster '1' at 51.554876/-0.065615 with 1 occurrences
no data in current view

found clusters for Hitmonlee, number of pokemon 98
number of clusters: 2
found cluster '0' at 51.473276/-0.199622 with 13 occurrences
found cluster '1' at 51.525426/-0.116329 with 20 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 1.0856709148145911)

found clusters for Hitmonchan, number of pokemon 65
number of clusters: 2
found cluster '0' at 51.521744/-0.122489 with 10 occurrences
found cluster '1' at 51.486795/-0.038694 with 1 occurrences
('smallest non-zero count', 1.7910636084771928e-08)
('max count:', 0.7963125982115824)

found clusters for Lickitung, number of pokemon 71
number of clusters: 2
found cluster '0' at 51.514022/-0.097647 with 4 occurrences
found cluster '1' at 51.591686/-0.020940 with 27 occurrences
('smallest non-zero count', 7.1642544339087712e-08)
('max count:', 0.63662356696751898)

found clusters for Rhyhorn, number of pokemon 196
number of clusters: 2
found cluster '0' at 51.538524/-0.158058 with 41 occurrences
found cluster '1' at 51.521854/-0.125634 with 28 occurrences
('smallest non-zero count', 5.3731908254315777e-08)
('max count:', 0.90829173971952992)

found clusters for Horsea, number of pokemon 1076
number of clusters: 3
found cluster '0' at 51.511619/-0.151289 with 7 occurrences
found cluster '1' at 51.505898/-0.090184 with 2 occurrences
found cluster '2' at 51.525381/-0.061782 with 1 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 0.31938535368452609)

found clusters for Goldeen, number of pokemon 1857
number of clusters: 32
found cluster '0' at 51.535486/-0.062697 with 14 occurrences
found cluster '1' at 51.507416/-0.071009 with 21 occurrences
found cluster '2' at 51.510218/-0.005486 with 16 occurrences
found cluster '3' at 51.494287/-0.274500 with 12 occurrences
found cluster '4' at 51.492023/-0.144306 with 16 occurrences
found cluster '5' at 51.496533/-0.120765 with 21 occurrences
found cluster '6' at 51.495621/-0.129563 with 10 occurrences
found cluster '7' at 51.533705/-0.106184 with 14 occurrences
found cluster '8' at 51.505339/-0.161315 with 278 occurrences
found cluster '9' at 51.511314/-0.159875 with 41 occurrences
found cluster '10' at 51.505089/-0.081017 with 14 occurrences
found cluster '11' at 51.533822/-0.120836 with 13 occurrences
found cluster '12' at 51.532773/-0.100791 with 10 occurrences
found cluster '13' at 51.526770/-0.115609 with 5 occurrences
found cluster '14' at 51.502273/-0.173947 with 13 occurrences
found cluster '15' at 51.505741/-0.018057 with 44 occurrences
found cluster '16' at 51.524062/-0.112712 with 5 occurrences
found cluster '17' at 51.508299/-0.096966 with 10 occurrences
found cluster '18' at 51.508505/-0.084070 with 10 occurrences
found cluster '19' at 51.500469/-0.119684 with 14 occurrences
found cluster '20' at 51.503693/-0.022448 with 4 occurrences
found cluster '21' at 51.499723/-0.015673 with 5 occurrences
found cluster '22' at 51.502789/-0.119525 with 11 occurrences
found cluster '23' at 51.521134/-0.183135 with 12 occurrences
found cluster '24' at 51.486043/-0.125552 with 17 occurrences
found cluster '25' at 51.518616/-0.173796 with 6 occurrences
found cluster '26' at 51.511319/-0.164801 with 1 occurrences
found cluster '27' at 51.507467/-0.077524 with 3 occurrences
found cluster '28' at 51.493589/-0.054271 with 12 occurrences
found cluster '29' at 51.506884/-0.088902 with 1 occurrences
found cluster '30' at 51.512330/-0.145686 with 3 occurrences
found cluster '31' at 51.504183/-0.075588 with 2 occurrences
('smallest non-zero count', 3.5821272169543856e-08)
('max count:', 1.8238288521586052)

found clusters for Staryu, number of pokemon 1336
number of clusters: 19
found cluster '0' at 51.533222/-0.103301 with 29 occurrences
found cluster '1' at 51.535732/-0.062925 with 5 occurrences
found cluster '2' at 51.534438/-0.055715 with 10 occurrences
found cluster '3' at 51.507415/-0.070830 with 19 occurrences
found cluster '4' at 51.495769/-0.129619 with 10 occurrences
found cluster '5' at 51.505093/-0.081658 with 16 occurrences
found cluster '6' at 51.525192/-0.113896 with 35 occurrences
found cluster '7' at 51.501091/-0.017622 with 29 occurrences

## Interesting nest locations 

#### Magikarp

Very closely found locations with Water around
![title](img/Magikarp_nests.png)


#### Vulpix

Found very near to Barbican.
![title](img/Vulpix_nests.png)


#### Voltorb

Nests at Canning Town and Stratford.
![title](img/Voltorb_nests.png)

#### Pikachu

One big nest at the park near Old Street.

![title](img/Pikachu_nests.png)

#### Electabuzz

![title](img/Electabuzz_nests.png)

Go and checkout the other cluster outputs in the img folder!